@import "reset.css";
body {
    background-color: #cccccc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas{
    width : 700px;
    height : 700px;
    background-color: white;
    border-radius : 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

ul{
    text-align: center;
}

.nav_title {
    color: white ;
    margin : 30px;
}

.controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.controls_theme{
    margin-bottom: 30px;
}

.controls .controls_range{
    margin-bottom: 30px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 4px 4px 9px #B5B5B5;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}


.controls .controls_btns {
    margin-bottom: 30px;
}
  
.controls_btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 8px 10px;
    width: 80px;
    text-align: center;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    
}
  
#jsSave{
    background-color: #363636 !important;
    color : #eeeeee;
}

.controls_btns button:active {
    transform: scale(0.98);
    box-shadow:         inset 1px 1px 3px rgba(0,0,0,0.2)
}

.controls .controls_colors{
    display: flex;
}

.controls_colors .controls_color{
    width : 50px;
    height : 50px;
    margin : 0px 5px; 
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.jsTheme{
    height : 50px;
    margin : 30px 0px;
    border-radius: 0px 20px 20px 0px;
}

li {
    margin-top : 150px;
}

#theme0{
    background-image : url(./img/0.jpeg);
    background-size:cover;
}
#theme1{
    background-image : url(./img/1.jpeg);
    background-size:cover;
}
#theme2{
    background-image : url(./img/2.jpeg);
    background-size:cover;
}
#theme3{
    background-image : url(./img/3.jpeg);
    background-size:cover;
}
#theme4{
    background-image : url(./img/4.jpeg);
    background-size:cover;
}
#theme5{
    background-image : url(./img/5.jpeg);
    background-size:cover;
}
#theme6{
    background-image : url(./img/6.jpeg);
    background-size:cover;
}
#theme7{
    background-image : url(./img/7.jpeg);
    background-size:cover;
}
#theme8{
    background-image : url(./img/8.jpeg);
    background-size:cover;
}
