  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-size : 13px;
    text-align: -webkit-center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top:11px;
    letter-spacing: 1px;
    font-weight: 700;
}
  
  
  header {
    display: flex; }

  
  .sliding--menu__wrapper {
    overflow: hidden;
    top: 0;
    left: 0;
    margin-right: auto; }
    .sliding--menu__wrapper nav {
      position: fixed;
      width: 250px;
      height: 100%;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      z-index: 2;
      top: 0;
      left: 0;
      margin: 0 0 0 -250px; }
      .sliding--menu__wrapper nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        width: 250px;
        height: 100%; }
        .sliding--menu__wrapper nav div:hover {
        opacity: 70%;}
    .sliding--menu__wrapper label {
      position:absolute;
      left:0px;
      background-color: grey;
      border-radius: 0px 10px 10px 0px;
      display: block;
      font-weight: 700;
      width: 40px;
      height: 100px;
      line-height: 56px;
      color: #fff;
      text-align: center;
      font-size: 2em;
      position: fixed;
      z-index: 2;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
    .sliding--menu__wrapper .obfuscator {
      visibility: hidden;
      -moz-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 4;
      transition-duration: .5s; }
    .sliding--menu__wrapper input[type="checkbox"] {
      display: none; }
      .sliding--menu__wrapper input[type="checkbox"]:checked ~ nav {
        margin-left: 0px; }
      .sliding--menu__wrapper input[type="checkbox"]:checked ~ label {
        left: 250px; }
      .sliding--menu__wrapper input[type="checkbox"]:checked ~ .obfuscator {
        visibility: visible;
        pointer-events: auto;
        opacity: 0.5;
        background: #111;
        z-index: 1; }
     